

.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }


section{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

#articleCategories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media ((max-width: 800px)) {
  #articleCategories {
    display: flex;
    flex-direction: column;
    justify-content: center;
  } 
}

#feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
}

p{
  color: black;
  font-family: "Quicksand", sans-serif;
}


#footer{
    background-color: whitesmoke;
    border-width: 3px;
    border-style: dashed;
    box-sizing: content-box;
    border-radius: 10px;
    margin:20px;
    padding-bottom: 20px;
    padding-left: 20px;
}



h1{
    width:50%;
    background-color: papayawhip;
    color: black;
    border-radius: 10px;
    font: quicksand-font;

    padding:10px;
    margin:20px;
}

careerAuth {
  color:red
}

techAuth {
  color: blue
}

#header{
    background-color: papayawhip;
    color: black;
    border-radius: 10px;

    padding:10px;
    margin:20px;
}


article{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding:2%;
    margin:2%;
}



table{
    border: 1px solid;
    border-collapse: collapse;
    table-layout: fixed;
    padding:10px;
    margin:20px;
    background-color: white;
}


th,
td {
  border: 1px solid black;
  width: 110px;
  overflow: hidden;
}




body {
    background-image: url("assets/bg.jpeg");
    background-repeat: no-repeat;
    background-color: gray;
    padding-right:10%;
    padding-left:10%;
    color: black;
    font-size: 25px;
  }
  